[Unit]
Description=Map Clustering Service

[Service]
ExecStart=/usr/bin/node --max-old-space-size=4096 /home/user-client/data/nodeCluster.js
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cluster_node
Restart=always
RestartSec=10
Environment=NODE_ENV=production PORT=1337
WorkingDirectory=/home/user-client/data

[Install]
WantedBy=multi-user.target
Alias=cluster.service
